{% extends '_base.html' %}
{% load helpers %}

{% block header %}
    <div class="row">
        <div class="col-sm-8 col-md-9">
            <ol class="breadcrumb">
                <li><a href="{% url 'ipam:port_list' %}">Port-templates</a></li>
                {% if port.site %}
                    <li><a href="{% url 'ipam:port_list' %}?site={{ port.site.slug }}">{{ port.site }}</a></li>
                {% endif %}
                {% if port.group %}
                    <li><a href="{% url 'ipam:port_list' %}?group={{ port.group.slug }}">{{ port.group }}</a></li>
                {% endif %}
                <li>{{ port }}</li>
            </ol>
        </div>
        <div class="col-sm-4 col-md-3">
        <form action="{% url 'ipam:port_list' %}" method="get">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search ports" />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">
                        <span class="fa fa-search" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </form>
        </div>
    </div>
    <div class="pull-right">
        {% if perms.ipam.change_port %}
            <a href="{% url 'ipam:port_edit' pk=port.pk %}" class="btn btn-warning">
                <span class="fa fa-pencil" aria-hidden="true"></span>
                Edit this Port-templates
            </a>
        {% endif %}
        {% if perms.ipam.delete_port %}
            <a href="{% url 'ipam:port_delete' pk=port.pk %}" class="btn btn-danger">
                <span class="fa fa-trash" aria-hidden="true"></span>
                Delete this Port-templates
            </a>
        {% endif %}
    </div>
    <h1>{% block title %}Port-templates {{ port.display_name }}{% endblock %}</h1>
    {% include 'inc/created_updated.html' with obj=port %}
    <ul class="nav nav-tabs" style="margin-bottom: 20px">
        <li role="presentation"{% if not active_tab %} class="active"{% endif %}>
            <a href="{% url 'ipam:port' pk=port.pk %}">Port-templates</a>
        </li>
        <li role="presentation"{% if active_tab == 'members' %} class="active"{% endif %}>
            <a href="{% url 'ipam:port_members' pk=port.pk %}">Members <span class="badge">{{ port.get_members.count }}</span></a>
        </li>
        <li role="presentation"{% if active_tab == 'changelog' %} class="active"{% endif %}>
            <a href="{% url 'ipam:port_changelog' pk=port.pk %}">Changelog</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Port-templates</strong>
                </div>
                <table class="table table-hover panel-body attr-table">
                    <tr>
                        <td>Site</td>
                        <td>
                            {% if port.site %}
                                {% if port.site.region %}
                                    <a href="{{ port.site.region.get_absolute_url }}">{{ port.site.region }}</a>
                                    <i class="fa fa-angle-right"></i>
                                {% endif %}
                                <a href="{% url 'dcim:site' slug=port.site.slug %}">{{ port.site }}</a>
                            {% else %}
                                <span class="text-muted">None</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Group</td>
                        <td>
                            {% if port.group %}
                                <a href="{{ port.group.get_absolute_url }}">{{ port.group }}</a>
                            {% else %}
                                <span class="text-muted">None</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Port-templates ID</td>
                        <td>{{ port.vid }}</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>{{ port.name }}</td>
                    </tr>
                    <tr>
                        <td>Tenant</td>
                        <td>
                            {% if port.tenant %}
                                {% if port.tenant.group %}
                                    <a href="{{ port.tenant.group.get_absolute_url }}">{{ port.tenant.group }}</a>
                                    <i class="fa fa-angle-right"></i>
                                {% endif %}
                                <a href="{{ port.tenant.get_absolute_url }}">{{ port.tenant }}</a>
                            {% else %}
                                <span class="text-muted">None</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>
                            <span class="label label-{{ port.get_status_class }}">{{ port.get_status_display }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>
                            <span class="label label-{{ port.get_types_class }}">{{ port.get_types_display }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>802.1Q Mode</td>
                        <td>{{ port.get_mode_display }}</td>
                    </tr>
                    <tr>
                        <td>Role</td>
                        <td>
                            {% if port.role %}
                                <a href="{% url 'ipam:port_list' %}?role={{ port.role.slug }}">{{ port.role }}</a>
                            {% else %}
                                <span class="text-muted">None</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{ port.description|placeholder }}</td>
                    </tr>
                </table>
            </div>
            {% include 'inc/custom_fields_panel.html' with obj=port %}
            {% include 'extras/inc/tags_panel.html' with tags=port.tags.all url='ipam:port_list' %}

        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Prefixes</strong>
                </div>
                {% include 'responsive_table.html' with table=prefix_table %}
                {% if perms.ipam.add_prefix %}
                    <div class="panel-footer text-right">
                        <a href="{% url 'ipam:prefix_add' %}?{% if port.tenant %}tenant={{ port.tenant.pk }}&{% endif %}site={{ port.site.pk }}&port={{ port.pk }}" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            Add a prefix
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-12">
            {% include 'panel_table.html' with table=vlan_table heading="VLANs" %}
        </div>
    </div>
{% endblock %}
