{% extends 'utilities/obj_edit.html' %}
{% load form_helpers %}

{% block form %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Port-templates</strong></div>
        <div class="panel-body">
            {% render_field form.vid %}
            {% render_field form.name %}
            {% render_field form.status %}
            {% render_field form.types %}
            {% render_field form.site %}
            {% render_field form.group %}
            {% render_field form.role %}
            {% render_field form.description %}
            {% render_field form.mode %}
        </div>
    </div>
    {% if obj.mode %}
        <div class="panel panel-default" id="vlans_panel">
            <div class="panel-heading"><strong>802.1Q VLANs</strong></div>
            {% include 'ipam/inc/port_vlans_table.html' %}
            <div class="panel-footer text-right">
                <a href="{% url 'ipam:port_assign_vlans' pk=obj.pk %}?return_url={% url 'ipam:port_edit' pk=obj.pk %}" class="btn btn-primary btn-xs{% if form.instance.mode == 100 and form.instance.untagged_vlan %} disabled{% endif %}">
                    <i class="glyphicon glyphicon-plus"></i> Add VLANs
                </a>
            </div>
        </div>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Tenancy</strong></div>
        <div class="panel-body">
            {% render_field form.tenant_group %}
            {% render_field form.tenant %}
        </div>
    </div>
    {% if form.custom_fields %}
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Custom Fields</strong></div>
            <div class="panel-body">
                {% render_custom_fields form %}
            </div>
        </div>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Tags</strong></div>
        <div class="panel-body">
            {% render_field form.tags %}
        </div>
    </div>


{% endblock %}

{% block buttons %}
    {% if obj.pk %}
        <button type="submit" name="_update" class="btn btn-primary">Update</button>
        <button type="submit" formaction="?return_url={% url 'ipam:port_edit' pk=obj.pk %}" class="btn btn-primary">Update and Continue Editing</button>
    {% else %}
        <button type="submit" name="_create" class="btn btn-primary">Create</button>
        <button type="submit" name="_addanother" class="btn btn-primary">Create and Add Another</button>
    {% endif %}
    <a href="{{ return_url }}" class="btn btn-default">Cancel</a>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#clear_untagged_vlan').click(function () {
            $('input[name="untagged_vlan"]').prop("checked", false);
            return false;
        });
        $('#clear_tagged_vlans').click(function () {
            $('input[name="tagged_vlans"]').prop("checked", false);
            return false;
        });
    });
</script>
{% endblock %}

<!-- TODO ADD PORT -->