{% extends '_base.html' %}

{% block title %}{{ port_group }} - ports{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-12">
        <ol class="breadcrumb">
            <li><a href="{% url 'ipam:portgroup_list' %}">Port-templates Groups</a></li>
            {% if port_group.site %}
                <li><a href="{% url 'dcim:site' slug=port_group.site.slug %}">{{ port_group.site }}</a></li>
            {% endif %}
            <li>{{ port_group }}</li>
        </ol>
    </div>
</div>
    {% include 'ipam/inc/portgroup_header.html' %}
    <div class="row">
        <div class="col-md-12">
            {% include 'utilities/obj_table.html' with table=port_table table_template='panel_table.html' heading='Port-templates' bulk_edit_url='ipam:port_bulk_edit' bulk_delete_url='ipam:port_bulk_delete' %}
        </div>
    </div>
{% endblock %}

