{% extends '_base.html' %}
{% load buttons %}

{% block content %}
<div class="pull-right">
    {% if perms.ipam.add_port %}
        {% add_button 'ipam:port_add' %}
        {% import_button 'ipam:port_import' %}
    {% endif %}
    {% export_button content_type %}
</div>
<h1>{% block title %}Port-templates{% endblock %}</h1>
<div class="row">
	<div class="col-md-9">
        {% include 'utilities/obj_table.html' with bulk_edit_url='ipam:port_bulk_edit' bulk_delete_url='ipam:port_bulk_delete' %}
	</div>
	<div class="col-md-3">
		{% include 'inc/search_panel.html' %}
		{% include 'inc/tags_panel.html' %}
	</div>
</div>
{% endblock %}
