{% extends 'ipam/port.html' %}

{% block title %}{{ block.super }} - Members{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% include 'utilities/obj_table.html' with table=members_table table_template='panel_table.html' heading='Port-templates Members' parent=port %}
        </div>
    </div>
{% endblock %}
