<div class="pull-right">
    {% if perms.ipam.add_port and first_available_port %}
        <a href="{% url 'ipam:port_add' %}?vid={{ first_available_port }}&group={{ port_group.pk }}{% if port_group.site %}&site={{ port_group.site.pk }}{% endif %}" class="btn btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> Add a Port-templates
        </a>
    {% endif %}
    {% if perms.ipam.change_portgroup %}
               <a href="{% url 'ipam:portgroup_edit' pk=port_group.pk %}" class="btn btn-warning">
                       <span class="fa fa-pencil" aria-hidden="true"></span>
                       Edit this Port-templates Group
               </a>
    {% endif %}
</div>
<h1>{{ port_group }}</h1>
