<table class="table panel-body">
        <tr>
            <th>VID</th>
            <th>Name</th>
            <th>Untagged</th>
            <th>Tagged</th>
        </tr>
        {% with tagged_vlans=interface.port.tagged_vlans.all %}
            {% if interface.port.untagged_vlan and interface.port.untagged_vlan not in tagged_vlans %}
                <tr>
                    <td>
                        <a href="{{ interface.port.untagged_vlan.get_absolute_url }}">{{ interface.port.untagged_vlan.vid }}</a>
                    </td>
                    <td>{{ interface.port.untagged_vlan.name }}</td>
                    <td>
                        <input type="radio" name="untagged_vlan" value="{{ interface.port.untagged_vlan.pk }}" checked="checked" disabled/>
                    </td>
                    <td>
                        <input type="checkbox" name="tagged_vlans" value="{{ interface.port.untagged_vlan.pk }}" disabled/>
                    </td>
                </tr>
            {% endif %}
            {% for vlan in tagged_vlans %}
                <tr>
                    <td>
                        <a href="{{ vlan.get_absolute_url }}">{{ vlan.vid }}</a>
                    </td>
                    <td>{{ vlan.name }}</td>
                    <td>
                        <input type="radio" name="untagged_vlan" value="{{ vlan.pk }}"{% if vlan == interface.port.untagged_vlan %} checked="checked"{% endif %}  disabled/>
                    </td>
                    <td>
                        <input type="checkbox" name="tagged_vlans" value="{{ vlan.pk }}" checked="checked" disabled/>
                    </td>
                </tr>
            {% endfor %}
        {% endwith %}
    </table>
    